.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 72px;
    max-width: 1920px;
    margin: 0 auto;
}

.header__logo {
    width: 80px;
}

.header__slogan {
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 60px;
    }
    .header__slogan {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 500px) {
    .header__slogan {
        display: none;
    }
}